body.modal-open {
  overflow: hidden;
}

main h2 {
  font-size: 5rem;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 55px;
}
main .century_main {
  position: relative;
  max-width: 90vw;
  margin: 0 auto;
  padding-top: 150px;
  display: flex;
  justify-content: center;
  gap: 390px;
}
main .century_main .left-column {
  padding-left: 30px;
}
main .century_main .left-column,
main .century_main .right-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .century_main .left-column ul,
main .century_main .right-column ul {
  display: flex;
  flex-direction: column;
  gap: 280px;
}
main .century_main .left-column ul li,
main .century_main .right-column ul li {
  display: table;
  position: relative;
  width: 450px;
  height: 326px;
  list-style: none;
  background-color: #F8E09E;
  border-radius: 50%;
  text-align: center;
  line-height: 326px;
}
main .century_main .left-column ul li p,
main .century_main .right-column ul li p {
  vertical-align: middle;
  padding-top: 120px;
}
main .century_main .left-column ul li p a,
main .century_main .right-column ul li p a {
  font-size: 3rem;
  font-family: "M PLUS Rounded 1c", sans-serif;
  line-height: 40px;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #3f3f3f;
  text-decoration: none;
  text-align: center;
}
main .century_main .left-column .right-column ul li,
main .century_main .right-column .right-column ul li {
  margin-top: 300px;
}
main .century_main .left-column::after,
main .century_main .right-column::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 440px;
  height: 100%;
  background-image: url(../img/footprint.svg);
  background-size: contain;
  background-repeat: repeat-y;
  vertical-align: middle;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85vw;
  height: 666px;
  background-color: #717171;
  border-radius: 50px;
  z-index: 1000;
}
.modal .modal-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #717171;
  border-radius: 50px;
  opacity: 0.72;
  z-index: -1;
}
.modal h3 {
  font-size: 5rem;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding-top: 35px;
}
.modal .close-button {
  position: absolute;
  top: 16px;
  left: 40px;
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  z-index: 1001;
}
.modal .tour_ex {
  display: flex;
  justify-content: center;
  gap: 130px;
}
.modal .tour_ex .tour_list {
  position: relative;
  width: 28vw;
  height: 475px;
  background-color: #fff;
  border-radius: 30px;
}
.modal .tour_ex .tour_list p {
  font-size: 2rem;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: bold;
  text-align: center;
  padding-top: 40px;
  line-height: 180%;
}
.modal .tour_ex .tour_list button {
  width: 146px;
  height: 52px;
  font-size: 2rem;
  font-weight: bold;
  font-family: "M PLUS Rounded 1c", sans-serif;
  background-color: #F8E09E;
  border-radius: 100px;
  margin-top: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}/*# sourceMappingURL=century.css.map */